body {
	padding:10px;
	margin: 0;
}

.mobile {
	width: 360px;
	height: 640px;

	background-color: #111;
	border: 2px solid #000, 1px solid #111;
	border-radius: 10px;

	position: relative;
	-webkit-transform: scale(.5);
	-webkit-transition: transform .2s linear;
}

.zoom:hover {
	-webkit-transform:scale(1);
}

.rotate:hover {
	-webkit-transform:rotateZ(180deg) perspective(200);
}

.mobile .sensors {
	position: absolute;
	background-color: transparent;
	width: 80%;
	left: 10%;
	height: 10%;
}

.mobile .screen {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;

	background-color: #444;
}
/*
.reflection {
	position: absolute;
	top: 10%;

	width: 100%;
	height: 100%;

	-webkit-transform: rotateZ(-30deg);
	background-color: rgba(90,90,90,.44);
	z-index: 2;
}
*/

.buttons {
	position: absolute;
	background-color: transparent;
	width: 80%;
	left: 10%;
	height: 10%;
	top: 90%;

	text-align: center;
}

.mobile .sensors .camera {
	width: 20px;
	height: 20px;

	position: absolute;
	left: 10%;
	top: 50%;

	border-radius: 50%;
	background-color: rgba(90,90,90,.55);
	border: 1px solid #333;
}

div.camera:before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 20%;
	left: 20%;
	border: 1px solid #111;
	background-color: #222;
	border-radius: 50%;
}

.mobile .sensors .proximity {
	width: 40px;
	height: 15px;

	position: absolute;
	left: 25%;
	top: 55%;

	border-radius: 20%;
	background-color: rgba(90,90,90,.55);
	border: 1px solid #333;
}

.mobile .sensors .front-speaker {
	width: 60px;
	height: 10px;

	position: absolute;
	left: 40%;
	top: 0%;

	border-radius: 20%;
	background-color: rgba(90,90,90,.55);
	border: 1px solid #333;
}

.mobile .buttons > div {
	width: 20px;
	height: 20px;

	background-color: rgba(90,90,90,.55);
	display: inline-block;
	position: absolute;
	top: 30%;
}

.mobile .buttons .menu {
	left: 20%;
}

.mobile .buttons .home {
	left: 50%;
}

.mobile .buttons .back {
	left: 80%;
}

.jumbotron {
	position: absolute;
	right: 10%;
	width: 30%;
	height: auto;
	top: 20%;
}

.jumbotron h1 {
	color: #063;
	font-family: trebuchet;
}

.jumbotron a {
	padding:5px 10px;
	border: 1px solid #066;
	background-color: #069;
	color: #EEE;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
}

a.active {
	background-color: #066;
}